/*
 * Copyright (c) 2021 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/outputs.h>

#define DEFAULT 0
#define LOWER   1
#define RAISE   2
#define ADJUS   3

&caps_word {
    continue-list = <UNDERSCORE MINUS BACKSPACE DELETE>;
};

/ {
    behaviors {
        lshft_capwrd: behavior_lshift_capsword {
            compatible = "zmk,behavior-tap-dance";
            label = "LSHFT_CAPSWORD";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LSHFT>, <&caps_word>;
        };
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible =  "zmk,keymap" ;

        default_layer {
// --------------------------------------------------------------------------------------------------------------------------------
// | `     |  1  |  2  |   3   |  4  |  5  |                   ---                |  6    |  7    |  8    |  9   | 0    |     -     |
// | TAB   |  Q  |  W  |   E   |  R  |  T  |   (   |           ---        |  )    |  Y    |  U    |  I    |  O   | P    |     =     |
// | ESC   |  A  |  S  |   D   |  F  |  G  |   [   |           ---        |  ]    |  H    |  J    |  K    |  L   | ;    |     '     |
// | SHIFT |  Z  |  X  |   C   |  V  |  B  | NONE  | NONE    | --- | NONE | NONE  |  N    |  M    |  ,    |  .   | /    |   SHIFT   |
// | CRTL  | ALT |ADJUS| GUI   | LOWER/DEL | BSPC  | TAB     | --- | RET  | SPACE |     RAISE     | NONE  | NONE | RALT |   RCTRL   |
            bindings = <
// ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮                                                                  ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
     &kp GRAVE       &kp N1          &kp N2          &kp N3          &kp N4          &kp N5                                                                             &kp N6          &kp N7          &kp N8          &kp N9          &kp N0          &kp MINUS
// ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────╮                                  ╭───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
     &kp TAB         &kp Q           &kp W           &kp E           &kp R           &kp T           &kp LPAR                                           &kp RPAR        &kp Y           &kp U           &kp I           &kp O           &kp P           &kp EQUAL
// ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤                                  ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
     &kp ESC         &hm LGUI A      &hm LALT S      &hm LCTRL D     &hm LSHFT F     &kp G           &kp LBKT                                           &kp RBKT        &kp H           &hm RSHFT J     &hm RCTRL K     &hm LALT L      &hm LGUI SEMI   &kp SQT
// ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────╮  ╭───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
     &lshft_capwrd   &kp Z           &kp X           &kp C           &kp V           &kp B           &none           &none              &none           &none           &kp N           &kp M           &kp COMMA       &kp DOT         &kp FSLH        &none
// ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤  ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
     &kp LCTRL       &kp LALT        &mo ADJUS       &kp LGUI                &mt LOWER DEL           &kp BSPC        &kp TAB            &kp RET         &kp SPACE                &mo RAISE              &none           &none           &kp RALT        &kp RCTRL
// ╰───────────────┴───────────────┴───────────────┴───────────────┴───────────────────────────────┴───────────────┴───────────────╯  ╰───────────────┴───────────────┴───────────────────────────────┴───────────────┴───────────────┴───────────────┴───────────────╯
            >;
        };

        lower_layer {
// -------------------------------------------------------------------------------------------------------------------------------------
// | `     |  1  |  2  |   3   |   4   |  5    |                       ---                   |  6  |  7  |  8   |  9   |  -    |  -     |
// | ESC   |  1  |  2  |   3   |   4   |  5    |   (     |             ---           |  )    |  6  |  7  |  8   |  9   |  +    |  DEL   |
// | ESC   |  -  |  =  |   [   |   ]   |  \    |   [     |             ---           |  ]    |  *  |  4  |  5   |  6   |  RET  |  RET   |
// | SHIFT | NONE| NONE| COPY  | PASTE | GRAVE | DEL     | LALT    |   ---   | HOME  | END   |  \  |  1  |  2   |  3   |  RET  |  RET   |
// | CRTL  | ALT |ADJUS| GUI   |     LOWER     | BSPC    | LCTRL   |   ---   | RET   | SPACE |   RAISE   |  0   |  0   |  RALT |  RCTRL |
            bindings = <
// ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮                                                                  ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
     &trans          &trans          &trans          &trans          &trans          &trans                                                                             &trans          &trans          &trans          &trans          &kp KP_MINUS    &trans
// ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────╮                                  ╭───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
     &kp ESC         &kp N1          &kp N2          &kp N3          &kp N4          &kp N5          &trans                                             &trans          &kp N6          &kp N7          &kp N8          &kp N9          &kp KP_PLUS     &kp DEL
// ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤                                  ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
     &trans          &kp MINUS       &kp EQUAL       &kp LBKT        &kp RBKT        &kp BSLH        &trans                                             &trans          &kp KP_MULTIPLY &kp N4          &kp N5          &kp N6          &kp RET         &kp RET
// ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────╮  ╭───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
     &trans          &none           &none           &kp RC(C)       &kp RC(V)       &kp GRAVE       &trans          &trans             &trans          &trans          &kp KP_DIVIDE   &kp N1          &kp N2          &kp N3          &kp RET         &kp RET
// ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤  ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
     &trans          &trans          &trans          &kp LGUI                    &trans              &trans          &trans             &trans          &trans                   &mo ADJUS              &kp N0          &kp N0          &trans          &trans
// ╰───────────────┴───────────────┴───────────────┴───────────────┴───────────────────────────────┴───────────────┴───────────────╯  ╰───────────────┴───────────────┴───────────────────────────────┴───────────────┴───────────────┴───────────────┴───────────────╯
            >;
        };

        raise_layer {
// ----------------------------------------------------------------------------------------------------------------------------
// | ESC   |  1  |  2  |   3   |  4  |  5  |                   ---                |  6   |  7   |  8   |  9   |  0    |  DEL  |
// | ESC   |  !  |  @  |   #   |  $  |  %  |   (   |           ---        |  )    |  ^   |  &   |  *   |  (   |  )    |  DEL  |
// | ESC   |  _  |  +  |   {   |  }  | "|" |   [   |           ---        |  ]    | LEFT | DOWN | UP   | RIGHT|       |  RET  |
// | SHIFT | NONE| NONE|   (   |  )  |  ~  | DEL   | LALT    | --- | HOME | END   | HOME | PGDN | PGUP | END  | PRCNT |  RET  |
// | CRTL  | ALT |ADJUS| GUI   |   LOWER   | BSPC  | LCTRL   | --- | RET  | SPACE |    RAISE    | NONE | NONE |  RALT |  RCTRL|
            bindings = <
// ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮                                                                  ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
     &kp ESC         &trans          &trans          &trans          &trans          &trans                                                                             &trans          &trans          &trans          &trans          &trans          &trans
// ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────╮                                  ╭───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
     &kp ESC         &kp EXCL        &kp AT          &kp HASH        &kp DLLR        &kp PRCNT       &trans                                             &trans          &kp CARET       &kp AMPS        &kp ASTRK       &kp LPAR        &kp RPAR        &kp DEL
// ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤                                  ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
     &trans          &kp UNDER       &kp PLUS        &kp LBRC        &kp RBRC        &kp PIPE        &trans                                             &trans          &kp LEFT        &kp DOWN        &kp UP          &kp RIGHT       &none           &kp RET
// ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────╮  ╭───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
     &trans          &none           &none           &kp LPAR        &kp RPAR        &kp TILDE       &trans          &trans             &trans          &trans          &kp HOME        &kp PG_DN       &kp PG_UP       &kp END         &kp PSCRN       &kp RET
// ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤  ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
     &trans          &trans          &trans          &kp LGUI                  &mo ADJUS             &kp LA(BSPC)    &trans             &trans          &trans                     &trans               &trans          &trans          &trans          &trans
// ╰───────────────┴───────────────┴───────────────┴───────────────┴───────────────────────────────┴───────────────┴───────────────╯  ╰───────────────┴───────────────┴───────────────────────────────┴───────────────┴───────────────┴───────────────┴───────────────╯
            >;
        };

        adjust_layer {
// -----------------------------------------------------------------------------------------
// |  F1   |  F2   |    F3    |    F4     |     F5     | F6 |                   ---                | F7  | F8  |  F9  |  F10 | F11 | F12        |
// | TAB   |       |          |           |            |    | BOOTL |           ---        | BTCLR | BT1 | BT2 |  BT3 |  BT4 | BT5 | OUTPUT TGL |
// | CTRL  | MUTE  |  Vol Dn  |  Vol Up   | Play/Pause |    | RESET |           ---        |  ]    | F1  | F2  |  F3  |  F4  | F5  | F6         |
// | SHIFT | PSCRN |  PSCRN   |   CAPS    |            |    | DEL   | LALT    | --- | HOME | END   | F7  | F8  |  F9  |  F10 | F11 | F12        |
// | CRTL  | ALT   |  ADJUS   |   GUI     |        LOWER    | BSPC  | LCTRL   | --- | RET  | SPACE |   RAISE   | LEFT | DOWN | UP  |   RIGHT    |
            bindings = <
// ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮                                                                  ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
     &kp F1          &kp F2          &kp F3          &kp F4          &kp F5           &kp F6                                                                            &kp F7          &kp F8          &kp F9          &kp F10         &kp F11         &kp F12
// ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────╮                                  ╭───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
     &trans          &none           &none           &none           &none            &none          &bootloader                                        &bt BT_CLR      &bt BT_SEL 0    &bt BT_SEL 1    &bt BT_SEL 2    &bt BT_SEL 3    &bt BT_SEL 4    &out OUT_TOG
// ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤                                  ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
     &trans          &kp K_MUTE      &kp C_VOL_DN    &kp C_VOL_UP    &kp C_PLAY_PAUSE &none          &sys_reset                                         &trans          &kp F1          &kp F2          &kp F3          &kp F4          &kp F5          &kp F6
// ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────╮  ╭───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
     &trans          &kp PSCRN       &kp PSCRN       &kp CLCK        &none            &none          &trans          &trans             &trans          &trans          &kp F7          &kp F8          &kp F9          &kp F10         &kp F11         &kp F12
// ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤  ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
     &trans          &trans          &trans          &trans                     &trans               &trans          &trans             &trans          &trans                      &trans              &trans          &trans          &trans          &trans
// ╰───────────────┴───────────────┴───────────────┴───────────────┴───────────────────────────────┴───────────────┴───────────────╯  ╰───────────────┴───────────────┴───────────────────────────────┴───────────────┴───────────────┴───────────────┴───────────────╯
            >;
        };
    };
};
